<!DOCTYPE html>
<html ng-app="LaserTag">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <title>Laser Tag Reloaded</title>
    <link rel="stylesheet" href="css/jquery-mobile.css"/>

    <script src="javascript/cordova-2.6.0.js"></script>
    <script src="javascript/Bluetooth.js"></script>
    <script src="javascript/jquery.js"></script>
    <script src="javascript/jquery-mobile.js"></script>
    <script src="http://192.168.1.106:3000/socket.io/socket.io.js"></script>
    <!--<script src="http://micro2.aws.af.cm/socket.io/socket.io.js"></script>-->
    <script src="javascript/angular.js"></script>
    <script src="javascript/jquery-mobile-angular-adapter.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="javascript/jquery.ui.map.full.min.js"></script>
    <script src="app.js"></script>

<style type="text/css">
.map {
    width: 400px;
    height: 375px;
    border: 1px solid #777777;
}
</style>


</head>
<body ng-controller="LaserTag">

<div id="login" data-role="page">
  <div data-role="header">
    <h1>Login</h1>
  </div>

  <div data-role="content">

    <div data-role="fieldcontain">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="" ng-model="newName">

      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" disabled="disabled">
    </div>

    <div data-role="fieldcontain">
      <a data-role="button" ng-click="submitButton(newName)">Submit</a>
    </div>
  </div>

</div>

<div id="bluetooth" data-role="page">
  <div data-role="header">
    <h1>Bluetooth Setup</h1>
  </div>

  <div data-role="content">



    <div>
      <ul data-role="listview">
        <li data-role="list-divider">Options</li>
        <li><a ng-click="bluetoothOn()">Enable Bluetooth</a></li>
        <li><a ng-click="bluetoothOff()">Disable Bluetooth</a></li>
        <li><a ng-click="bluetoothGetDevices()">Get paired devices</a></li>

        <li data-role="list-divider">List of paired devices</li>
        <li ng-repeat="device in devices">
          <a ng-click="bluetoothConnect(device.address)">{{device.name}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="main" data-role="page">
  <div data-role="header">
    <h1>Main Menu</h1>
  </div>

  <div data-role="content">
    <div>
      <a data-role="button" href="#create">Create game</a>
      <a data-role="button" href="#gameList" ng-click="getGameList()">Join game</a>
      <button disabled="disabled">View my statistics</button>
    </div>
  </div>

</div>

<div id="create" data-role="page">
  <div data-role="header">
    <a href="#main" data-icon="arrow-l" ng-click="resetGame()">Back</a>
    <h1>Create Game</h1>
    <a ng-click="createGame(game)" data-icon="arrow-r" data-iconpos="right">Create</a>
  </div>

  <div data-role="content">
    <form>
      <!-- Game Name -->
      <div data-role="fieldcontain">
        <label for="">Game Name</label>
        <input type="text" id="game_name" value="" ng-model="game.name" maxlength="18">
      </div>

      <!-- Game Type -->
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <legend>Game Type</legend>

          <input id="Deathmatch" name="GameType" value="A" type="radio" checked="checked" ng-model="game.type" ng-change="updateTypeText()">
          <label for="Deathmatch">Deathmatch</label>

          <input id="Timed_Deathmatch" name="GameType" value="B" type="radio" ng-model="game.type" ng-change="updateTypeText(game.type)">
          <label for="Timed_Deathmatch">Timed Deathmatch</label>
        </fieldset>
      </div>

      <!-- Game Limit -->
      <div data-role="fieldcontain">
        <label for="GameLimit">{{game.limitType}} Limit</label>
        <input type="range" name="GameLimit" min="1" max="25" value="15" data-highlight="true" ng-model="game.limit">
      </div>

      <!--<div>Game Info = {{game | json}}</div>-->

    </form>
  </div>
  
</div>


<div id="hostLobby" data-role="page">
  <div data-role="header">
    <a href="#main" data-icon="delete"ng-click="hostLeave(game.name)">Leave</a>
    <h1>{{game.name}}</h1>
    <a data-icon="arrow-r" ng-click="sendInformation(game, lobby)"  data-iconpos="right">Ready</a>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Game type: {{game.typeText}}</li>
      <li>{{game.limitType}} limit: {{game.limit}}</li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in lobby">
        <h3>Name: {{player.name}}</h3>
        <p>Number: {{player.number}}</p>
      </li>
    </ul>

  </div>

</div>


<div id="gameList" data-role="page">
  <div data-role="header">
    <a href="#main" data-icon="arrow-l">Back</a>
    <h1>Game List</h1>
    <a data-icon="refresh" ng-click="refreshGameList()">Refresh List</a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li ng-repeat="games in gameList">
        <a ng-click="joinGame(games)">{{games}}</a>
      </li>
    </ul>

  </div>

</div>

<div id="joinLobby" data-role="page">
  <div data-role="header">
    <a href="#main" data-icon="delete" ng-click="leaveLobby()">Leave</a>
    <h1>{{game.name}}</h1>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Game type: {{game.typeText}}</li>
      <li>{{game.limitType}} limit: {{game.limit}}</li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in lobby">
        <h3>Name: {{player.name}}</h3>
        <p>Number: {{player.number}}</p>
      </li>
    </ul>

  </div>

</div>

<div id="gameReadyHost" data-role="page">
  <div data-role="header">
    <h1>Start screen</h1>
    <a data-icon="arrow-r" data-iconpos="right" ng-click="startGame()" href="#gameRunning" class="ui-btn-right">Start</a>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Game type: {{game.typeText}}</li>
      <li>{{game.limitType}} limit: {{game.limit}}</li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in lobby">
        <h3>Name: {{player.name}}</h3>
        <p><b>{{player.ready}}</b></p>
      </li>
    </ul>

  </div>

</div>

<div id="gameReady" data-role="page">
  <div data-role="header">
    <h1>Start screen</h1>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Game type: {{game.typeText}}</li>
      <li>{{game.limitType}} limit: {{game.limit}}</li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in lobby">
        <h3>Name: {{player.name}}</h3>
        <p><b>{{player.ready}}</b></p>
      </li>
    </ul>

  </div>

</div>


<div id="gameRunning" data-role="page">
  <div data-role="header">
    <h1>Game Live</h1>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Hits received: {{hits.length}}</li>
      <li>Shots fired: {{shotsFired}}</li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in scoreList">
        <h3>Name: {{player.name}}</h3>
        <p><b>Score:</b> {{player.score}}</p>
      </li>
    </ul>

  </div>

</div>


<div id="gameEnd" data-role="page">
  <div data-role="header">
    <a href="#main" data-icon="delete" ng-click="leaveLobby()">Main menu</a>
    <h1>Game over</h1>
  </div>

  <div data-role="content">

    <ul data-role="listview">

      <li data-role="list-divider">Information</li>
      <li>Shots fired: {{shotsFired}}</li>
      <li>
        <h3>Winner: {{winner.name}}</h3>
        <p>Score: {{winner.score}}</p>
      </li>
      <li><a href="#mapPage">Hit map</a></li>

      <li data-role="list-divider">Player list</li>
      <li ng-repeat="player in scoreList">
        <h3>{{player.name}}</h3>
        <p>Score: {{player.score}}</p>
      </li>

    </ul>

  </div>

</div>

<div id="mapPage" data-role="page">
  <div data-role="header">
    <a href="#gameEnd" data-icon="arrow-l">Back</a>
    <h1>Hit Map</h1>
  </div>

  <div data-role="content">

    <div id="map_canvas" style="width:100%;"></div>   

  </div>

</div>

<!--
<div id="startScreen" data-role="page">
  <div data-role="header">
    <h1>Start Screen</h1>
  </div>

  <div data-role="content">
    
    <p>Game Status: {{gameState}}</p>

    <div>
      <table data-role="table" data-mode="reflow" class="ui-response table-stroke">
        <thead>
          <tr>
            <th data-priority="1">Game Type</th>
            <th data-priority="2">Game Limit</th>
            <th data-priority="3">Player Number</th>
            <th data-priority="4">Enemy Count</th>
            <th data-priority="5">Enemy Numbers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{game.typeText}}</td>
            <td>{{game.limit}} {{limitName}}</td>
            <td>{{game.playerNumber}}</td>
            <td>{{game.enemyList.length}}</td>
            <td>{{game.enemyList}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div data-role="controlgroup">
      <a data-role="button" ng-click="gameStart()">Start Game!</a>
    </div>
  </div>

</div>
-->

<!--
<div id="runningGame" data-role="page">
  <div data-role="header">
    <h1>Game Running</h1>
  </div>

  <div data-role="content">
    <p>Game Status: {{gameState}}</p>
    <p>Game Info: {{ game | json }}</p>
    <p>Shots fired: {{ shotsFired }}</p>
    <p>Hits: {{ hits | json }}</p>

    <div data-role="fieldcontain">
      <div data-role="controlgroup">
        <a data-role="button" ng-click="gameEnd()">End Game</a>
      </div>
    </div>

  </div>
</div>

<div id="endGame" data-role="page">
  <div data-role="header">
    <h1>Game End</h1>
  </div>

  <div data-role="content">
    <p>Game Status: {{gameState}}</p>
    <p>Game Info: {{ game | json }}</p>
    <p>Shots fired: {{ shotsFired }}</p>
    <p>Hits: {{ hits | json }}</p>

    <br>

    <div data-role="fieldcontain">
      <div data-role="controlgroup">
        <a data-role="button" ng-click="gameReset()">New Game</a>
      </div>
    </div>
  </div>


</div>
-->

<!-- Login Page -->
  <!--
<div id="login" data-role="page" ng-controller="MainCtrl">
  <div data-role="header">
    <h1>Laser Tag Reloaded</h1>
  </div>

  <div data-role="content">
    <form ng-submit="submit()">
      <input type="text" id="login_username" ng-model="username" placeholder="Username">
      <input type="password" id="login_password" placeholder="Password" disabled>
      <input type="submit" id="login_button" value="Login" href='bluetooth_list'>
    </form>
  </div>
  

</div>
-->
<!-- Login Page End -->

<!-- Bluetooth Devices Page -->
<!--
<div id="bluetooth_list" data-role="page" >
  <div data-role="header">
    <h1>Bluetooth</h1>
  </div>

  <div data-role="content" ng-controller="bluetoothSelect">
    <div>
      <h3>Instructions</h3>
      <p>Please make sure the blueooth is turned on. Then press the button below to search for devices. Once it has finished, select your device.</p>
    </div>
  </div>

</div>
-->
<!-- Bluetooth Devices Page End -->



</body>
</html>